.formGroup {
  margin: 20px 30px 0px 0px;
}

.search-button {
  padding-left: 40px;
}

.searchIcon {
  flex: 0 0 20px;
}

.searchButtonText {
  flex-grow: 2;
  color: white;
  width: 100px;
  text-align: left;
  padding-left: 20px;
  padding-top: 3px;
}
.searchPerson-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  background-color: var(--background-color);
  width: 200px;
  height: 33px;
  margin: 33px 0 40px 0px;
  border: 0px 0 0 0px;
  border-radius: var(--border-radius);
  padding-left: 20px;
  border: 1.2px solid #9b9b9b;
}

.search-item {
  margin: 0px 0 0px 40px;
  width: 55%;
}

.searchForm {
  position: relative;
  margin: 0 4rem;
}

.searchForm legend {
  margin-left: 38px;
}

.div-input > label > input[type='text'] {
  width: 100%;
}

button:disabled {
  background-color: #9b9b9b;
}

@media (max-width: 900px) {
  .searchForm {
    margin: 0 2rem;
  }

  .search-item {
    width: 80%;
  }
}
