.navbar {
  background-color: var(--background-color);
  color: white;
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 6px #999;
}
.navbarHeader {
  color: white;
  padding: 2rem 3rem;
}

@media (max-width: 600px) {
  .navbarHeader {
    padding-left: 1rem;
  }
}
