.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonWithSpinner {
  border: none;
  border-radius: var(--border-radius);
  height: var(--height);
  background-color: var(--background-color);
  color: white;
  margin-bottom: 50px;
  margin-right: 1rem;
  padding: 0 45px;
  width: 155px;
  cursor: pointer;
}

.buttonWithSpinner:focus {
  outline: 0;
}

.buttonText {
  color: white;
}
.buttonWithSpinner:disabled {
  background-color: #9b9b9b;
}

.spinner {
  position: relative;
  border-radius: 50%;
  border-top: 2px solid rgba(236, 240, 241, 1);
  border-right: 2px solid rgba(236, 240, 241, 0.8);
  border-bottom: 2px solid transparent;
  animation: spinner 0.8s linear infinite;
  height: 1.8rem;
  width: 1.8rem;
  margin: 0 auto;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.loadingButtonWithSvg > .buttonText {
  position: relative;
  bottom: 20px;
  left: 10px;
}

.searchPageButton > .buttonText {
  position: relative;
  left: -30px;
  top: 8px;
}

.svgSpinner {
  margin: 0;
  left: -30px;
  top: 2px;
}

.searchPageButton {
  display: flex;
  width: 200px;
  margin-left: -40px;
}

.searchPageButton .modalSvg {
  width: 60px;
  top: 2px;
  fill-opacity: 1;
  margin-left: 20px;
}
