.navbar {
  background-color: var(--background-color);
  color: white;
  height: 70px;
  width: 100%;
  margin-bottom: 2rem;
  padding-left: 0px;
  box-shadow: 0px 1px 6px #999;
}

.navbarWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 20px;
}
.navbarHeader {
  color: white;
}

.navbarLink {
  padding-left: 1.5rem;
  list-style: none;
}

.navbarIcon {
  list-style: none;
  position: relative;
  height: 40px;
  width: 250px;
  top: 0px;
  left: 0px;
}

.backLink {
  height: 40px;
  width: 20px;
}

.navbarText {
  padding-left: 3.5rem;
  padding-top: 12px;
  color: white;
  font-weight: 100;
  list-style: none;
  background: url('../../assets/Search_Icon.svg') no-repeat;
  height: 40px;
  width: 250px;
}

.navbarNewPerson {
  padding-left: 3.5rem;
  padding-top: 12px;
  color: white;
  font-weight: 100;
  list-style: none;
  background: url('../../assets/Add_Person.svg') no-repeat;
  height: 40px;
  width: 250px;
}

.navbarTextPage {
  padding-left: 28px;
  color: white;
  font-weight: 100;
  list-style: none;
  font-style: normal;
  width: 300px;
}
.backLinkSVG {
  background: url('../../assets/Arrow_Back.svg') no-repeat;
  height: 20px;
  width: 25px;
  display: flex;
  /* justify-content: flex-start; */
}

@media (max-width: 600px) {
  .navbarHeader {
    padding-left: 1rem;
  }
}
