.resultsTable {
  width: 100%;
}

.resultsTableHeader,
.resultsTableBody {
  margin-bottom: 1rem;
  display: flex;
}

#headerTableName,
#dataTableName {
  margin-left: -8px;
}

#headerTableReg,
#dataTableReg {
  margin-right: -8px;
}

.resultsTableHeader th,
.resultsTableBody td {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: left;
  flex: 1;
  padding: 5px;
  margin: 2px;
}

tr:not(.resultsTableHeader) {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 20px;
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

.resultsTableHeader th:first-child {
  max-width: 30%;
  padding-left: 5.7rem;
}

.resultsTableHeader th:last-child {
  padding-right: 5.7rem;
}

.resultsTableHeader th {
  background-color: rgba(155, 155, 155, 1);
  color: white;
}

.personsFoundParagraph {
  position: relative;
  margin: 1rem 2rem;
  padding-left: 40px;
  width: 200px;
}

.personContainer {
  width: 200px;
  width: 60%;
}
