/* CSS variables */
:root {
  --background-color: #0f7165;
  --border-radius: 3px;
  --height: 2.1rem;
  --box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff,
    0 1px 0 #fff;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: #373d3f;
  background-color: white;
  font-size: 1rem;
  letter-spacing: 0.7px;
}

form {
  position: relative;
  /* padding: 2em; */
  margin-left: 2rem;
  width: 60%;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1rem;
}

/* removing the border around the fieldset */
fieldset {
  border: 0;
}

/* outer flex container with Name, Age, Gender sections */
div.flex-container-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* flex items */
div.flex-item {
  flex: 1;
  min-width: 50%;
}

div.flex-item2 {
  display: flex;
  min-width: 100%;
}

.form-input {
  flex: 1;
}

/* the row with years months and days */
#root > div > form > div:nth-child(3) > fieldset > div {
  width: 80%;
}

/* capitalizing titles of form sections */
legend {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

/* Basic styling of inputs */
input[type='text'],
input[type='number'],
input[type='date'],
label.labelRadio {
  border: 1.2px solid #9b9b9b;
  border-radius: var(--border-radius);
  height: var(--height);
  width: 250px;
  background-color: rgba(155, 155, 155, 0.05);
  margin-bottom: 10px;
}

input[type='text'],
input[type='number'],
input[type='date'] {
  box-shadow: var(--box-shadow);
}

input[type='number'] {
  width: 80px;
}

/* Changing mouse to pointer for clickable inputs */
input[type='submit'],
input[type='date'],
label.labelRadio,
input[type='checkbox'] + label span,
input[type='checkbox']:checked + label span {
  cursor: pointer;
}

/* hidding the default checkbox and radio buttons */
[type='checkbox'],
input[type='radio'] {
  position: absolute;
  left: -9999px;
}

input[type='checkbox'] + label span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: var(--height);
  height: var(--height);
  background: url('./components/checkbox_unchecked.svg') 0px center no-repeat;
}

input[type='checkbox']:checked + label span {
  background: url('./components/checkbox_checked.svg') 0px center no-repeat;
}

#estimatedTitle {
  display: inline-block;
  margin: auto 0;
}

div.checkbox-container {
  display: flex;
  justify-content: flex-start;
}

#hidden-title,
#display-none {
  opacity: 0;
}

/* Radio buttons flex container */
div.radioGroup {
  display: flex;
  line-height: var(--height);
  width: 50%;
}

.labelRadio {
  text-align: center;
  position: relative;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

span.radioButton {
  background-color: rgba(155, 155, 155, 0.05);
  color: #2e3436;
}

:checked + span.radioButton {
  background-color: rgba(15, 113, 101, 0.13);
  color: var(--background-color);
  display: inline-block;
  border: none;
  width: 100%;
}

div.submit-button {
  display: flex;
}

input[type='submit'] {
  border: none;
  border-radius: var(--border-radius);
  height: var(--height);
  margin-top: 15px;
  background-color: var(--background-color);
  color: white;
  margin-left: auto;
  padding: 0 45px;
}

/* adding some padding between the input name and input box */
.input-label {
  padding-bottom: 15px;
}

/* Adding the asterisk if the field is required */
.required:after {
  content: ' *';
  color: red;
}

/* graying out the button if it's diasbled */
input:disabled {
  background-color: #9b9b9b;
}

@media (max-width: 1080px) {
  form {
    width: 70%;
  }
}

@media (max-width: 910px) {
  form {
    width: 85%;
  }

  #root > div > form > div:nth-child(3) > fieldset > div {
    width: 80%;
  }

  input[type='text'],
  label.labelRadio {
    width: 200px;
  }
  input[type='date'] {
    width: 160px;
  }
}

@media (max-width: 600px) {
  form {
    width: 100%;
    margin-left: 0px;
  }
  div.flex-item,
  div.flex-item2 {
    min-width: 100%;
  }

  #root > div > form > div:nth-child(3) > fieldset > div {
    width: 100%;
  }
}
