/* CSS variables */
:root {
  --background-color: #0f7165;
  --border-radius: 3px;
  --height: 2.1rem;
  --box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: #373d3f;
  font-size: 1rem;
  letter-spacing: 0.7px;
  margin: 0;
}

form {
  position: relative;
  margin-left: 4rem;
  width: 80%;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1rem;
}

/* removing the border around the fieldset */
fieldset {
  border: 0;
}

/* capitalizing titles of form sections */
legend {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

/* Basic styling of inputs */
input[type='text'],
input[type='number'],
input[type='date'],
label.labelRadio {
  border: 1.2px solid #9b9b9b;
  border-radius: var(--border-radius);
  height: var(--height);
  width: 220px;
  background-color: rgba(250, 250, 250, 0.5);
  margin-bottom: 0.8rem;
  outline: 0 none;
}

input[type='text'],
input[type='number'],
input[type='date'] {
  box-shadow: var(--box-shadow);

  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
}

input[type='number'] {
  width: 80px;
}

/* Changing mouse to pointer for clickable inputs */
input[type='date'],
label.labelRadio,
input[type='checkbox'] + label span,
input[type='checkbox']:checked + label span {
  cursor: pointer;
}

/* hidding the default checkbox and radio buttons */
[type='checkbox'],
input[type='radio'] {
  position: absolute;
  left: -9999px;
}

input[type='checkbox'] + label span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: var(--height);
  height: var(--height);
  background: url('../src/assets/checkbox_unchecked.svg') 0px center no-repeat;
}

input[type='checkbox']:checked + label span {
  background: url('../src/assets/checkbox_checked.svg') 0px center no-repeat;
}

@media (max-width: 1080px) {
  form {
    width: 70%;
  }
}

@media (max-width: 910px) {
  form {
    width: 85%;
  }

  input[type='text'],
  label.labelRadio {
    width: 200px;
  }
  input[type='date'] {
    width: 160px;
  }
}

@media (max-width: 600px) {
  form {
    width: 100%;
    margin-left: 0px;
  }
}
