html {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

form {
  position: relative;
  padding: 2em;
  margin: 0 auto;
  width: 70%;
}

fieldset {
  border: 0;
}

/* div.Header {
  background-color: rgb(23, 113, 101);
  height: 50px;
} */
div.flex-container-row {
  /* position: relative; */
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  border: 0;
}

.form-input {
  flex-grow: 1;
  padding: 20px 30px 20px 0;
}

div.submit-button {
  display: flex;
}

input[type='submit'] {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.9rem;
  height: 2rem;
  margin-top: 20px;
  background-color: #0f7165;
  color: white;
  margin-left: auto;
  padding: 0 45px;
}

.myCheckbox input {
  position: absolute;
  left: -9999px;
}

.myCheckbox span {
  display: flex;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  background-color: rgb(249, 249, 249);
}

.myCheckbox input:checked + span {
  background-color: #0f7165;
  border: none;
}

input[type='radio'] {
  cursor: pointer;
  margin-right: 8px;
}

input[type='text'],
input[type='number'],
input[type='date'] {
  border: 1px solid grey;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  background-color: rgb(249, 249, 249);
  height: 30px;
  width: 100%;
  font-size: 100%;
}

legend {
  text-transform: uppercase;
}

.input-label {
  padding-bottom: 15px;
}

.required:after {
  content: ' *';
  color: red;
}

input:disabled {
  background-color: #9b9b9b;
}
