html {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

form {
  position: relative;
  padding: 2em;
  margin: 0 auto;
}

fieldset {
  border: 0;
}

div.flex-container-row {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 85rem;
  font-weight: normal;
  display: flex;
  border: 0;
}

.form-input {
  flex-grow: 1;
  margin: 1rem 2%;
  padding: 1.1rem 1.5rem;
}

button,
input[type='submit'] {
  position: relative;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  height: 1.4rem;
  margin: 5px;
  margin-top: 20px;
  background-color: lightgray;
  color: white;
  align-content: flex-end;
}

input[type='radio'] {
  margin-right: 8px;
}

input[type='text'],
input[type='number'],
input[type='date'] {
  border: 1px solid grey;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey inset;
  background-color: rgb(249, 249, 249);
  height: 30px;
  width: 100%;
}

legend {
  text-transform: uppercase;
}

.required:after {
  content: ' *';
  color: red;
  font-size: 1.2rem;
}
